p {
  background: LightSalmon;
}
img[src="images/2016-dodge-viper-dodge-viper-11563031912frmfpku0n.png"] {
  float: right;
  border: 2px dashed Tomato;
  width: 250px;
  height: 250px;
}
img[src="images/531-5319097_2017-dodge-viper-msrp-hd-png-download.png"] {
  float: left;
  border: 2px dashed Tomato;
}
p.clear {
  clear: both;
}
div {
  display: inline-block;
  width: 80px;
  height: 130px;
  border: 2px dashed Tomato;
  margin-right: 60px;
}
div.vis {
  overflow: visible;
}
div.hid {
  overflow: hidden;
}
div.scr {
  overflow: scroll;
}
div.ver {
  width: 120px;
  overflow-x: hidden;
  overflow-y: scroll;
}
div.hor {
  height: 150px;
  overflow-x: scroll;
  overflow-y: hidden;
}
div.txt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
